{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>修改密码 - Remember</title>
    <link rel="icon" href="{% static '/image/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static '/image/favicon.ico' %}" type="image/x-icon">
    <link href="{% static '/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static '/assets/css/dashboard.css' %}" rel="stylesheet" />
    <link href="{% static '/assets/plugins/charts-c3/plugin.css' %}" rel="stylesheet" />
    <link href="{% static '/assets/plugins/maps-google/plugin.css' %}" rel="stylesheet" />
</head>
<body class="">
    <div class="page">
      <div class="page-main">
        {% include 'pub/top.html' %}
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card card-profile">
                            <div class="card-body text-center">
                                <div id="error-message" class="card-alert alert alert-danger mb-0" style="display: none;"></div>
                                <div class="form-group">
                                    <label class="form-label">原密码</label>
                                    <input class="form-control text-center" placeholder="最短8位,最长16位." minlength="8" maxlength="16" id="old_pwd" name="old_pwd" type="password" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">新密码</label>
                                    <input class="form-control text-center" placeholder="最短8位,最长16位." minlength="8" maxlength="16" id="new_pwd" name="new_pwd" type="password" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">确认新密码</label>
                                    <input class="form-control text-center" placeholder="最短8位,最长16位." minlength="8" maxlength="16" id="re_new_pwd" name="re_new_pwd" type="password" required>
                                </div>
                                {% csrf_token %}
                                <div id="myPWDEdit" class="btn btn-outline-info">修改</div>
                                <a href="javascript:history.back();"><div class="btn btn-outline-info">取消</div></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
        </div>
      </div>
      {% include 'pub/footer.html' %}
    </div>
<script src="{% static '/assets/js/require.js' %}"></script>
<script>
      requirejs.config({
          baseUrl: '/static'
      });
      //document.getElementById('home').classList.add('active');
</script>
<script src="{% static '/assets/js/dashboard.js' %}"></script>
<script src="{% static '/assets/plugins/charts-c3/plugin.js' %}"></script>
<script src="{% static '/assets/plugins/maps-google/plugin.js' %}"></script>
<script src="{% static '/assets/plugins/input-mask/plugin.js' %}"></script>
<script>
    requirejs(['jquery'], function($){
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $(document).on('click', '#myPWDEdit', function(){
            var old_pwd = $('#old_pwd').val();
            var new_pwd = $('#new_pwd').val();
            var re_new_pwd = $('#re_new_pwd').val();
            if(old_pwd == ''){
                $('#error-message').show();
                $('#error-message').html('请输入原密码.');
                return;
            }
            if(old_pwd.length < 8 || old_pwd.length > 16){
                $('#error-message').show();
                $('#error-message').html('原密码应大于8位小于16位.');
                return;
            }
            if(new_pwd == ''){
                $('#error-message').show();
                $('#error-message').html('请输入新密码.');
                return;
            }
            if(new_pwd.length < 8 || new_pwd.length > 16){
                $('#error-message').show();
                $('#error-message').html('请输入新密码应大于8位小于16位新密码.');
                return;
            }
            if(re_new_pwd == ''){
                $('#error-message').show();
                $('#error-message').html('请输入确认新密码.');
                return;
            }
            if(re_new_pwd.length < 8 || re_new_pwd.length > 16){
                $('#error-message').show();
                $('#error-message').html('确认新密码应大于8位小于16位.');
                return;
            }
            if(new_pwd != re_new_pwd){
                $('#error-message').show();
                $('#error-message').html('两次密码不一致, 请重新输入.');
                return;
            }
            $.ajax({
                url: '{% url "common:editMyPWD" %}',
                type: 'POST',
                beforeSend:function(jqXHR, settings){
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        jqXHR.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                data: {
                    'old_pwd': old_pwd,
                    'new_pwd': new_pwd,
                    're_new_pwd': re_new_pwd
                },
                success: function(data){
                    if(data.code == 117){
                        if(data.old_pwd != undefined) {
                            alert(data.old_pwd[0].message);
                        }
                        if(data.new_pwd != undefined){
                            alert(data.new_pwd[0].message);
                        }
                        if(data.re_new_pwd != undefined){
                            alert(data.re_new_pwd[0].message);
                        }
                    }else if(data.code == 118){
                        $('#error-message').show();
                        $('#error-message').html('您输入原密码不正确, 请重新输入.');
                    }else if(data.code == 119){
                        alert('修改成功\n您的新密码为:' + new_pwd);
                        window.location.href = "{% url 'common:index' %}"
                    }else{
                        $('#error-message').show();
                        $('#error-message').html('可能出现错误, 请联系管理员.');
                        alert('可能出现错误, 请联系管理员.');
                        window.location.href = '{% url "common:editMyPWD" %}'
                    }
                }
            });
        });
    });
</script>
  </body>
</html>